helperfiles/
*.log
.DS_Store
node_modules/
.env
dist/
build/
.idea/
.vscode/
*.bak
*.tmp
*.swp
*.crt
scripts/
# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.coverage
venv/
env/
.venv/

# Data Science
*.csv
*.parquet
*.pkl
.ipynb_checkpoints/
data/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
crash.log
crash.*.log
.terraformrc
terraform.rc
terrademo/keys/
*.json